{% extends 'base/base.html' %}
{% block title %}DEV{% endblock %}

{% block content %}


<style>
    .no_viseble {
        visibility: hidden;
        }
   
</style>
	<!--Container Main start-->
    <div class="height-100 bg-light">
        <div class="row align-items-center h-100">
            <div class="col-10 mx-auto">
                <h2 class="text-center">Расписание доктора</h2>
                <br>
                <div class="container-sm">
                    <div class="row">
                        <div class="d-flex justify-content-center">
                            <form method="post">
                                <div class="form">
                                    <select name="doctor" class="form-select" aria-label="Пример выбора по умолчанию">
                                        <option value="">Выбор доктора...</option>
                                        {% for doctor in doctors %}
                                            <option value="{{ doctor.id }}">{{ doctor.first_name }} {{ doctor.last_name }} {{ doctor.surname }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">Номер кабинета</span>
                                        <input name="office" type="number" aria-label="First name" class="form-control" onkeypress="return event.charCode >= 48" min="1" max="24">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon2">Дата</span>
                                        <input name="calendar" type="date" class="form-control" name="date" placeholder="Дата">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon3">Время</span>
                                        <input id="after" type="number" aria-label="First name" onkeypress="return event.charCode >= 48" min="1" max="24" class="form-control after">
                                        <input id="before" type="number" aria-label="Last name" onkeypress="return event.charCode >= 48" min="1" max="24" class="form-control before">
                                    </div>
                                    <select onchange="test(this)" name="step" class="form-select" aria-label="Пример выбора по умолчанию">
                                        <option value="15">15 мин</option>
                                        <option value="30">30 мин</option>
                                        <option value="45">45 мин</option>   
                                        <option value="60">60 мин</option>
                                    </select>
                                    <br>
                                </div>
                                <br>
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-dark">Отправить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    after.oninput = function () {
        if (this.value.length > 2) {
            this.value = this.value.slice(0,2); 
        }
    }

    before.oninput = function () {
        if (this.value.length > 2) {
            this.value = this.value.slice(0,2); 
        }
    }

    function test(obj){
        let start = document.getElementById("after").value;
        let end = document.getElementById("before").value;
        let _start = moment(start, 'HH:mm');
        let _end = moment(end, 'HH:mm');
        
        let result = [];
        
        while (_start <= _end) {
            result.push(_start.format('HH:mm'));
            _start.add(obj.value, 'minutes');
        }
        var nodes = document.querySelectorAll('.amount');
        for (var i = 0; i < nodes.length; i++)
        nodes[i].parentNode.removeChild(nodes[i]);


        var $add = document.getElementsByClassName('add')[0];
        var $form = document.getElementsByClassName('form')[0];

        for (let i = 0; i < result.length; i++){
        var $input = document.createElement('input');
        $input.name = 'value_' + i;
        $input.type = 'text';
        $input.value = result[i];
        $input.classList.add('form-control');
        $form.insertBefore($input, $add);
        }

        var $add = document.getElementsByClassName('add')[0];
        var $form = document.getElementsByClassName('form')[0];

        var $input = document.createElement('input');
        $input.type = 'hidden';
        $input.name = 'value_all';
        $input.value = result.length;
        $input.classList.add('no_viseble');
        $form.insertBefore($input, $add);
    }
</script>     



<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
{% endblock %}