{% extends 'base.html' %}

{% block content %}
<main class="mt-150" style="margin-top: 200px;">
    <div class="container p-5">
        <h1 class="text-center">Добавление товара</h1>
        {% for msg in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show">{{msg}}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></div>
        {% endfor %}
        <form method="post" enctype="multipart/form-data">
            <div class="row mt-5">
                <div class="col-md-8 w-50 mx-auto">
                    <div class="input-group mb-3">
                        <input name="prod_name" type="text" class="form-control" placeholder="Название товара" aria-label="Название товара"
                        aria-describedby="basic-addon1" />
                    </div>
                    
                    <div class="input-group mb-3">
                        <input name="prod_count" type="text" class="form-control" placeholder="Количество товара" aria-label="Количество товара"
                        aria-describedby="basic-addon1" />
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Описание</span>
                        <textarea name="prod_desc" class="form-control" aria-label="With textarea"></textarea>
                    </div>

                    <div class="input-group mb-3">
                        <input name="prod_price" type="text" class="form-control" aria-label="Цена" />
                        <span class="input-group-text">₽</span>
                    </div>

                    <label for="data-mdb-file-upload='file-upload'" class="file-upload-wrapper">Загрузите фото товара</label>
                    <input name="photo" class="form-control" type="file" id="photo" />
                
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary " style="width: 100%;" type="submit">Загрузить товар</button>
                      </div>
                </div>
            </div>
        </form>
    </div>
</main>

{% endblock %}