{% extends 'base.html' %}


{% block content %}
<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-4">
            <img height="100%" width="100%" src="{{ url_for('static', filename='img/downloads/' + prod.photo) }}" alt="">
            <div class="d-grid gap-2">
                <p style="font-size: 20px;" class="text-center"><b>Цена: {{prod.price}}₽</b></p>
                <button class="btn btn-outline-primary" onclick="window.location.href = '/add_backet/' + {{ prod.id }}" style="width: 100%;" type="submit">В корзину</button>
              </div>
        </div>

        <div class="col-md-8 ">
            <p style="font-size: 30px;"><b>{{prod.name}}</b></p>
            <hr>
            <p style="font-size: 20px;"><b>Количество: {{prod.count}}</b></p>
            <hr>
            <p style="font-size: 20px;"><b>Просмотры: {{prod.views}}</b></p>
            <p style="font-size: 20px;"><b>Куплено: {{prod.buy_count}} раз</b></p>
            <hr>
            <p style="font-size: 20px;"><b>Описание: {{prod.desc}}</b></p>
        </div>
    </div>
</div>
{% endblock %}