        <aside>
            <div class="logo">
                <a href="{% url 'home' %}" class="logo">
                    <span class="logo">doctorum<sup class="sup_logo">.lite</sup></span>
                </a>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="{% url 'home' %}"><i class="fas fa-solar-panel" _nav_icon=""></i> Панель управления</a></li>
                    <li><a href="{% url 'patients' %}"><i class="fas fa-user-circle" _nav_icon=""></i> Пациенты</a></li>
                    <li><a href="{% url 'services' %}"><i class="fas fa-hand-holding-medical" _nav_icon=""></i> Услуги</a></li>
                    <li><a href="{% url 'doctors' %}"><i class="fas fa-user-md" _nav_icon=""></i> Врачи</a></li>
                    <li><a href="{% url 'audit' %}"><i class="far fa-file-alt" _nav_icon=""></i> Отчеты</a></li>
                    <li><a href="{% url 'manual' %}"><i class="far fa-question-circle" _nav_icon=""></i> Инструкция</a></li>
                    <li><a href="{% url 'gethelp' %}"><i class="far fa-life-ring" _nav_icon=""></i> Помощь</a></li>
                    <li class="breaker"></li>
                    <li><a href="{% url 'signup' %}"><i class="fas fa-sign-out-alt" _nav_icon=""></i> Выход</a></li>
                </ul>
            </div>
            <div class="nav_footer">
                <span>Doctorum<sup>.lite</sup> v0.0.1<br />Разработано в <a href="https://restee.ru" class="brand">restee.ru</a><br />&copy;2021</span>
            </div>
        </aside>