{% extends 'base/base.html' %}

{% block title %}DEV{% endblock %}

{% block content %}
{% include 'leftside.html' %}
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron">
                <h1 class="text-center">404 Not Found</h1>
                <p class="lead" align="justify">{{error}}</p>
                <a href="{{ url_for('receptions.reception') }}">
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary">Вернуться назад</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
