{% extends 'admin/master.html' %}
{% include 'base/links.html' %}
{% include 'base/scripts.html' %}

{% block body %}

<div class="container">
    <form action="" method="post">
        <br>
        <div class="row">
            <div class="col">
                <label for="username" class="form-label">Логин</label>
                <input type="text" name='username' id='username' class="form-control" required>
            </div>
            <div class="col">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" id='password' name='passwd' class="form-control" required>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="row">
            <div class="col">
                <label for="l_name" class="form-label">Фамилия</label>
                <input type="text" name='l_name' id='l_name' class="form-control" required>
            </div>
            <div class="col">
                <label for="f_name" class="form-label">Имя</label>
                <input type="text" name='f_name' id='f_name' class="form-control" required>
            </div>
            <div class="col">
                <label for="s_name" class="form-label">Отчество</label>
                <input type="text" name='s_name' id='s_name' class="form-control" required>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="row">
            <div class="col">
                <label for="sex" class="form-label">Пол</label>
                <select class="form-select" id="sex" name="sex" required>
                    <option value="none" selected disabled>Выберите пол</option>
                    <option value="woman">Женский</option>
                    <option value="man">Мужской</option>
                    <option value="daun">Средний</option>
                </select>
            </div>
            <div class="col">
                <label for="birthday" class="form-label">Дата рождения</label>
                <input id="birthday" name="birthday" type="date" class="form-control" max="2100-04-30" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="phone" class="form-label">Номер телефона</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">+7</span>
                    <input id="phone" name="phone" type="text" class="form-control jmp__input_tel" aria-describedby="basic-addon1" required>
                </div>
            </div>
            <div class="col">
                <label for="phone2" class="form-label">Запасной номер телефона</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">+7</span>
                    <input id="phone2" name="phone2" type="text" class="form-control jmp__input_tel" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="email" class="form-label">Email</label>
                <input type="email" id='email' name='email' class="form-control" required>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="row">
            <div class="col">
                <label for="division" class="form-label">Специализация</label>
                <input type="text" id='division' name='division' class="form-control" required>
            </div>
            <div class="col">
                <label for="certificate" class="form-label">Сертификат</label>
                <input type="text" id='certificate' name='certificate' class="form-control">
            </div>
            <div class="col">
                <label for="role" class="form-label">Роль пользователя</label>
                <select class="form-select" id="role" name="role" required>
                    <option value="none" selected disabled>Выберите роль пользователя</option>
                    <option value="superadmin">Супер администратор</option>
                    <option value="admin">Администратор</option>
                    <option value="doctor">Доктор</option>
                </select>
            </div>
        </div>
        <br>
        <div class="d-grid gap-2">
            <button class="btn btn-outline-primary" type="submit">Отправить</button>
        </div>
    </form>

</div>
{% endblock %}