
<!-- <body oncontextmenu='return false' class='snippet-body'> -->
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> 
                <div class="nav_list">
                    {% if current_user.role == 'superadmin'%}
                    <div class="nav_logo"> 
                        <i class='bx bx-bell-plus nav_logo-icon'></i>
                        <span class="nav_logo-name">{{ current_user.role }}: {{ current_user.username }}</span>
                    </div>

                    <a href="#" class="nav_logo"> 
                        <i class='bx bxs-receipt nav_logo-icon'></i>
                        <span class="nav_logo-name">Запись</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name">Пациенты</span>
                    </a>
                    {% else %}
                    <div class="nav_logo"> 
                        <i class='bx bx-bell-plus nav_logo-icon'></i>
                        <span class="nav_logo-name">{{ current_user.role }}: {{ current_user.username }}</span>
                    </div>
                    {% endif %}
                </div>
            </div> 
            <a href="{{ url_for('login.logout') }}" class="nav_link"> 
                <i class='bx bx-log-out nav_icon'></i> 
                <span class="nav_name">Выход</span> 
            </a>
        </nav>
    </div>