{% extends 'base/base.html' %}

{% block content %}
<div class="container" id='main'>
    <form id="form" action="/search/search_process" onsubmit="find_user(); return false;">
        <div class="input-group mb-3">
            <input list="patient" placeholder="Поиск пациента" type="search" id="q" class="form-control" aria-describedby="search-button">
            <datalist id="patient">
                {% for i in patients %}
                <option value="{{ i.full_name }}">
                {% endfor %}
            </datalist>
        
            <button id="search-button" type="submit" class="btn btn-outline-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>


    </form>
    <div class="card border-primary mb-3">
        <div class="card-header bg-transparent border-primary" id='header'>Название</div>
        <div class="card-body text-dark">
        <h5 class="card-title" id='title'>Тайтл</h5>
        <p class="card-text" id='info-text'>инфа о пидорасе</p>
        </div>
        <div class="card-footer bg-transparent border-primary" id='footer'>
            aaaa
        </div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Accordion Item #1
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Accordion Item #2
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Accordion Item #3
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
              </div>
            </div>
          </div>
    </div>-
</div>
 


    
     <script>
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
        return new bootstrap.Toast(toastEl, option)
        })
        toast.show()

        function find_user() {
            var $form = $( '#form' ),
                url = $form.attr( "action" );
            // $('#q').val()
            var posting = $.post( url, {'data' : $('#q').val()} );

            posting.done(function( data ) {
                if (data.success == "false") {
                    toastr["warning"]("Пользователь не найден.", "Предупреждение!");
                }
                else {
                    console.log(data.patients);
                    toastr["success"]("Успешно!");
                }
            });
        };
    </script>

{% endblock %}


