{% extends 'base/base.html' %}

{% block content %}

<!-- <style>
.collapse {
  overflow: auto;
  width: auto;
  height: auto;
  max-height: 50vh;
  max-width: 100%;
}
</style> -->

<div class="container" id='main'>
    <form id="form" action="/search/search_process" onsubmit="find_user(); return false;">
        <div class="input-group mb-3">
            <input list="patient" placeholder="Поиск пациента" type="search" id="q" class="form-control" aria-describedby="search-button">
            <datalist id="patient">
                {% for i in patients %}
                <option value="{{ i.full_name }}">
                {% endfor %}
            </datalist>
            <button id="search-button" type="submit" class="btn btn-outline-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_label">Пациент</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id='cont'>
                    <div class="row mb-5">
                        <div class="col">
                            <form id='searchFormtest'>
                                <div id="sandbox-container" class="d-flex justify-content-center"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ru.min.js"></script>  

<script>
    var doc_select = '';
    var user_select = '';
    var doctors = {};
    var patients = {};
    var current_date = moment().format('DD.MM.YYYY');

    $('#sandbox-container').datepicker({
        format: "dd.mm.yyyy",
        startView: 2,
        maxViewMode: 2,
        todayBtn: "linked",
        language: "ru",
        autoclose: true,
        todayHighlight: true,
    }).on('changeDate', showTestDate);


    function get_doctors(date) {
        url = '/reception/get_doctors'
        var posting = $.post( url, {'date': date});

        posting.done(function( data ) {
            if (data.success == "false") {
                toastr["error"]("Произошла ошибка, пожалуйста попробуйте еще раз или обратитесь к администратору.", "Ошибка!");
            }
            else {
                for (let count = 0; count < data['data'].length; count++) {
                    doctors[data['data'][count].doc_id] = data['data'][count].doc_full_name;
                }
                for (let count = 0; count < data['patients'].length; count++) {
                    patients[data['patients'][count].patient_full_name] = data['patients'][count].patient_id;
                }
                
                createForm(data);
            }
        });
    };


    function createForm(all_data) {
        data = all_data['data']
        delBlock2()
        $("<div/>").attr({id: 'data_place2'}).appendTo('#cont');
        $("<div/>").attr({id: 'row2', class: 'row'}).appendTo('#data_place2');
        for (let count = 0; count < data.length; count++) {
            if (data[count].records.length > 0) {
                $("<div/>").attr({id: `col_${count}`, class: 'col-sm-3 mt-5'}).appendTo(`#row2`);
                $("<div/>").attr({id: `head_${count}`}).appendTo(`#col_${count}`);
                $("<p/>").attr({id: `head_fio_${count}`, class: 'text-center mb-1'}).appendTo(`#head_${count}`);
                document.getElementById(`head_fio_${count}`).textContent = data[count].doc_full_name;
                $("<p/>").attr({id: `head_div_doc_${count}`, class: 'text-center'}).appendTo(`#head_${count}`);
                $("<p/>").attr({id: `head_office_${count}`, class: 'text-center'}).appendTo(`#head_${count}`);
                document.getElementById(`head_div_doc_${count}`).textContent = `${data[count].div_doc}`;
                document.getElementById(`head_office_${count}`).textContent = `Кабинет №${data[count].records[0].office}`;
                $("<div/>").attr({id: `scroll_${count}`, class: 'overflow-auto', style: "max-height: 40vh; padding-right: 5px;"}).appendTo(`#col_${count}`);
                for (let item_count = 0; item_count < data[count].records.length; item_count++) {
                    if (data[count].records[item_count].is_active == 1) {
                        $("<div/>").attr({id: `scroll_item_${count}_${item_count}`, class: 'input-group input-group-sm mb-2'}).appendTo(`#scroll_${count}`);
                        if (moment() > moment(data[count].records[item_count].time, 'HH:mm')) {
                            $("<span/>").attr({id: `scroll_item_span_${count}_${item_count}`, class: 'input-group-text btn-secondary text-white'}).appendTo(`#scroll_item_${count}_${item_count}`);
                        }
                        else {
                            $("<span/>").attr({id: `scroll_item_span_${count}_${item_count}`, class: 'input-group-text btn-primary text-white'}).appendTo(`#scroll_item_${count}_${item_count}`);
                        }
                        document.getElementById(`scroll_item_span_${count}_${item_count}`).textContent = data[count].records[item_count].time;
                        $("<input/>").attr({ list: `scroll_item_datalist_${count}_${item_count}`, 'rec_id': data[count].records[item_count].rec_id, id: `scroll_item_input_${count}_${item_count}`, class: 'form-control', type: 'text', 'aria-describedby': `scroll_item_${count}_${item_count}`, 'data-bs-toggle': 'tooltip', 'data-bs-placement': 'top', 'title': data[count].records[item_count].full_name}).appendTo(`#scroll_item_${count}_${item_count}`);
                        $("<datalist/>").attr({id: `scroll_item_datalist_${count}_${item_count}`}).appendTo(`#scroll_item_${count}_${item_count}`);
                        for (let patient_count = 0; patient_count < all_data['patients'].length; patient_count++) {
                            if (all_data['patients'][patient_count].patient_full_name) {
                                $("<option/>").attr({value: all_data['patients'][patient_count].patient_full_name}).appendTo(`#scroll_item_datalist_${count}_${item_count}`);
                            }
                        }
                        if (data[count].records[item_count].patient_full_name) {
                            $(`#scroll_item_input_${count}_${item_count}`).attr('readonly', true);
                            $(`#scroll_item_input_${count}_${item_count}`).val(data[count].records[item_count].patient_full_name);
                        }
                        else {
                            $("<button/>").attr({'onclick': 'addRecord(this);', 'input_id': `scroll_item_input_${count}_${item_count}`, id: `scroll_item_button_add_${count}_${item_count}`, class: 'btn btn-primary bx bx-calendar-plus', type: 'button'}).appendTo(`#scroll_item_${count}_${item_count}`);
                        }
                    }
                }
            }
        }
    }

    function showTestDate() {
        current_date = $('#sandbox-container').datepicker('getFormattedDate');
        console.log(current_date)
        url = '/reception/get_doctors';

        var posting = $.post(url, { date: current_date} );
        
        posting.done(function( data ) {
            if (data.success == "false") {
                toastr["error"]("Произошла ошибка, пожалуйста попробуйте еще раз или обратитесь к администратору.", "Ошибка!");
            }
            else {
                toastr["success"]("Успешно!");
                createForm(data);
            }
        });
    };

    function addRecord(obj) {
        input_id = document.getElementById(obj.id).getAttribute('input_id');
        rec_id = document.getElementById(input_id).getAttribute('rec_id');
        user_full_name = $(`#${input_id}`).val();
        user_id = patients[user_full_name];
    
        url = '/reception/record';

        var posting = $.post(url, { 'rec_id': rec_id, 'patient_full_name': user_full_name, 'patient_id': user_id} );
        
        posting.done(function( data ) {
            if (data.success == "false") {
                toastr["error"]("Произошла ошибка, пожалуйста попробуйте еще раз или обратитесь к администратору.", "Ошибка!");
            }
            else {
                find_user();
            }
        });
    };








    function delBlock2() {
        if ($('#data_place2').length) {
            $("#data_place2").empty();
        }
    }

    function delBlock() {
        if ($('#data_place').length) {
            $("#data_place").empty();
        }
    }

    function find_user() {
        var $form = $( '#form' ),
            url = $form.attr( "action" );
        var posting = $.post( url, {'data' : $('#q').val()} );

        posting.done(function( data ) {
            if (data.success == "false") {
                toastr["warning"]("Пользователь не найден.", "Предупреждение!");
            }
            else {
                outputData(data.patients[0]);
                console.log(data.patients);
                toastr["success"]("Успешно!");
                get_doctors(moment().format('DD.MM.YYYY'));
            }
        });
    };

    function getTrustFactor(factor) {
        if (factor)
            return "Положительный"
        else
            return "Отрицательный"
    }

    function outputData(data) {
        delBlock();
        translate = {
            'default': 'Обычный',
            'child': 'Ребенок',
            'pregnant': 'Беременная'
        }
        $("<div/>").attr({id: 'data_place'}).appendTo('#main');
        $("<div/>").attr({id: 'card_main', class: 'card border-primary mb-3'}).appendTo('#data_place');
        $("<div/>").attr({id: 'card_header', class: 'card-header bg-transparent border-primary text-center'}).appendTo('#card_main');
        document.getElementById('card_header').textContent = data.full_name;
        $("<div/>").attr({id: 'card_body', class: 'card-body'}).appendTo('#card_main');
        $("<div/>").attr({id: 'card_body_row', class: 'row'}).appendTo('#card_body');
        $("<div/>").attr({id: 'card_body_col_1', class: 'col'}).appendTo('#card_body_row');
        $("<div/>").attr({id: 'card_body_col_2', class: 'col'}).appendTo('#card_body_row');
        $("<h3/>").attr({id: 'short_info', class: 'text-center lead'}).appendTo('#card_body_col_1');
        document.getElementById('short_info').textContent = 'Краткая информация';
        $("<ul/>").attr({id: 'card_header', class: 'list-group list-group-flush'}).appendTo('#card_body_col_1');
        $("<li/>").attr({id: 'card_text_type', class: 'list-group-item'}).appendTo('#card_body_col_1');
        document.getElementById('card_text_type').textContent = `Тип пациента "${translate[data.role]}"`;
        $("<li/>").attr({id: 'card_text_bd', class: 'list-group-item'}).appendTo('#card_body_col_1');
        document.getElementById('card_text_bd').textContent = `Дата рождения: ${data.birthday}`;
        $("<li/>").attr({id: 'card_text_age', class: 'list-group-item'}).appendTo('#card_body_col_1');
        document.getElementById('card_text_age').textContent = `Возраст: ${data.age}`;
        $("<li/>").attr({id: 'card_text_tf', class: 'list-group-item'}).appendTo('#card_body_col_1');
        document.getElementById('card_text_tf').textContent = `Фактор доверия: ${getTrustFactor(data.trust_factor)}`;
        $("<li/>").attr({id: 'card_text_phone', class: 'list-group-item'}).appendTo('#card_body_col_1');
        document.getElementById('card_text_phone').textContent = `Номер телефона: ${data.phone}`;
        $("<li/>").attr({id: 'card_text_phone2', class: 'list-group-item'}).appendTo('#card_body_col_1');
        document.getElementById('card_text_phone2').textContent = `Дополнительный номер телефона: ${data.phone2}`;
        $("<li/>").attr({id: 'card_text_address', class: 'list-group-item'}).appendTo('#card_body_col_1');
        document.getElementById('card_text_address').textContent = `Адрес: ${data.address}`;
        $("<li/>").attr({id: 'card_text_comment', class: 'list-group-item'}).appendTo('#card_body_col_1');
        document.getElementById('card_text_comment').textContent = `${data.comment}`;
        
        $("<h3/>").attr({id: 'data_info', class: 'text-center lead'}).appendTo('#card_body_col_2');
        if (data.role == 'default') {
            document.getElementById('data_info').textContent = 'Данные о пациенте';
            $("<ul/>").attr({id: 'card_header', class: 'list-group list-group-flush'}).appendTo('#card_body_col_2');
            $("<li/>").attr({id: 'card_text_lr_pass_serial', class: 'list-group-item'}).appendTo('#card_body_col_2');
            document.getElementById('card_text_lr_pass_serial').textContent = `Серия паспорта: ${data.lr_pass_serial}`;
            $("<li/>").attr({id: 'card_text_lr_pass_num', class: 'list-group-item'}).appendTo('#card_body_col_2');
            document.getElementById('card_text_lr_pass_num').textContent = `Номер паспорта: ${data.lr_pass_num}`;
            $("<li/>").attr({id: 'card_text_lr_pass_date', class: 'list-group-item'}).appendTo('#card_body_col_2');
            document.getElementById('card_text_lr_pass_date').textContent = `Дата выдачи: ${data.lr_pass_date}`;
            $("<li/>").attr({id: 'card_text_lr_pass_issued', class: 'list-group-item'}).appendTo('#card_body_col_2');
            document.getElementById('card_text_lr_pass_issued').textContent = `Кем выдан: ${data.lr_pass_issued}`;
        }
        else if (data.role == 'pregnant') {
            document.getElementById('data_info').textContent = 'Данные о пациенте';
            $("<ul/>").attr({id: 'card_header', class: 'list-group list-group-flush'}).appendTo('#card_body_col_2');
            $("<li/>").attr({id: 'card_text_lr_pass_serial', class: 'list-group-item'}).appendTo('#card_body_col_2');
            document.getElementById('card_text_lr_pass_serial').textContent = `Серия паспорта: ${data.lr_pass_serial}`;
            $("<li/>").attr({id: 'card_text_lr_pass_num', class: 'list-group-item'}).appendTo('#card_body_col_2');
            document.getElementById('card_text_lr_pass_num').textContent = `Номер паспорта: ${data.lr_pass_num}`;
            $("<li/>").attr({id: 'card_text_lr_pass_date', class: 'list-group-item'}).appendTo('#card_body_col_2');
            document.getElementById('card_text_lr_pass_date').textContent = `Дата выдачи: ${data.lr_pass_date}`;
            $("<li/>").attr({id: 'card_text_lr_pass_issued', class: 'list-group-item'}).appendTo('#card_body_col_2');
            document.getElementById('card_text_lr_pass_issued').textContent = `Кем выдан: ${data.lr_pass_issued}`;
            $("<li/>").attr({id: 'card_text_estimated_birthday', class: 'list-group-item'}).appendTo('#card_body_col_2');
            document.getElementById('card_text_estimated_birthday').textContent = `ПДР: ${data.estimated_birthday}`;
            $("<li/>").attr({id: 'card_text_num_fetus', class: 'list-group-item'}).appendTo('#card_body_col_2');
            document.getElementById('card_text_num_fetus').textContent = `Кол-во плодов: ${data.num_fetus}`;
        }
        else if (data.role == 'child') {
            document.getElementById('data_info').textContent = 'Данные о представителе';
            $("<ul/>").attr({id: 'card_header', class: 'list-group list-group-flush'}).appendTo('#card_body_col_2');
            $("<li/>").attr({id: 'card_text_lr_pass_serial', class: 'list-group-item'}).appendTo('#card_body_col_2');
            document.getElementById('card_text_lr_pass_serial').textContent = `Серия паспорта: ${data.lr_pass_serial}`;
            $("<li/>").attr({id: 'card_text_lr_pass_num', class: 'list-group-item'}).appendTo('#card_body_col_2');
            document.getElementById('card_text_lr_pass_num').textContent = `Номер паспорта: ${data.lr_pass_num}`;
            $("<li/>").attr({id: 'card_text_lr_pass_date', class: 'list-group-item'}).appendTo('#card_body_col_2');
            document.getElementById('card_text_lr_pass_date').textContent = `Дата выдачи: ${data.lr_pass_date}`;
            $("<li/>").attr({id: 'card_text_lr_pass_issued', class: 'list-group-item'}).appendTo('#card_body_col_2');
            document.getElementById('card_text_lr_pass_issued').textContent = `Кем выдан: ${data.lr_pass_issued}`;
            $("<li/>").attr({id: 'card_text_lr_status', class: 'list-group-item'}).appendTo('#card_body_col_2');
            document.getElementById('card_text_lr_status').textContent = `Тип представителя "${translate[data.role]}"`;
            $("<li/>").attr({id: 'card_text_lr_full_name', class: 'list-group-item'}).appendTo('#card_body_col_2');
            document.getElementById('card_text_lr_full_name').textContent = `ФИО: ${data.r_full_name}`;
        }
        $("<div/>").attr({id: 'card_footer', class: 'card-footer bg-transparent border-primary'}).appendTo('#card_main');
        $("<div/>").attr({id: 'row', class: 'row'}).appendTo('#card_footer');
        if (data.lost_records.length > 0 || data.future_records.length > 0) {
            if (data.lost_records.length > 0) {
                $("<div/>").attr({id: 'col_1_data', class: 'col'}).appendTo('#row');
                $("<label/>").attr({id: 'old_label', class: 'form-label', for: 'old_record'}).appendTo('#col_1_data');
                $("<b/>").attr({id: 'b_old_label'}).appendTo('#old_label');
                document.getElementById('b_old_label').textContent = 'Прошедшие записи';
                $("<div/>").attr({id: 'old_record', class: 'accordion accordion-flush'}).appendTo('#col_1_data');
                for (let i = 0; i < data.lost_records.length; i++) {
                    $("<div/>").attr({id: 'old_accordion_item' + i, class: 'accordion-item'}).appendTo('#old_record');
                    $("<h2/>").attr({id: 'old_accordion_item_header' + i, class: 'accordion-header'}).appendTo('#old_accordion_item' + i);
                    $("<button/>").attr({id: 'old_btn_' + i, class: 'accordion-button collapsed', type: 'button', 'data-bs-toggle': 'collapse', 'data-bs-target': '#old_text_' + i, 'aria-expanded': 'false', 'aria-controls': 'old_text_' + i}).appendTo('#old_accordion_item_header' + i);
                    document.getElementById('old_btn_' + i).textContent = `${data.lost_records[i].date} [${data.lost_records[i].time}]`;
                    $("<div/>").attr({id: 'old_text_' + i, class: 'accordion-collapse collapse'}).appendTo('#old_accordion_item' + i);
                    $("<div/>").attr({id: 'old_doctor_full_name_' + i, class: 'accordion-body'}).appendTo('#old_text_' + i);
                    document.getElementById('old_doctor_full_name_' + i).textContent = `Доктор: ${data.lost_records[i].doctor_full_name}`;
                    $("<div/>").attr({id: 'old_office_' + i, class: 'accordion-body'}).appendTo('#old_text_' + i);
                    document.getElementById('old_office_' + i).textContent = `Кабинет: ${data.lost_records[i].office}`;
                }
            }
            if (data.future_records.length > 0) {
                $("<div/>").attr({id: 'col_2_data', class: 'col'}).appendTo('#row');
                $("<label/>").attr({id: 'future_label', class: 'form-label', for: 'future_record'}).appendTo('#col_2_data');
                $("<b/>").attr({id: 'b_future_label'}).appendTo('#future_label');
                document.getElementById('b_future_label').textContent = 'Текущие записи';
                $("<div/>").attr({id: 'future_record', class: 'accordion accordion-flush'}).appendTo('#col_2_data');
                for (let i = 0; i < data.future_records.length; i++) {
                    console.log(data.future_records[i].date)
                    $("<div/>").attr({id: 'future_accordion_item' + i, class: 'accordion-item'}).appendTo('#future_record');
                    $("<h2/>").attr({id: 'future_accordion_item_header' + i, class: 'accordion-header'}).appendTo('#future_accordion_item' + i);
                    $("<button/>").attr({id: 'future_btn_' + i, class: 'accordion-button collapsed', type: 'button', 'data-bs-toggle': 'collapse', 'data-bs-target': '#future_text_' + i, 'aria-expanded': 'false', 'aria-controls': 'future_text_' + i}).appendTo('#future_accordion_item_header' + i);
                    document.getElementById('future_btn_' + i).textContent = `${data.future_records[i].date} [${data.future_records[i].time}]`;
                    $("<div/>").attr({id: 'future_text_' + i, class: 'accordion-collapse collapse'}).appendTo('#future_accordion_item' + i);
                    $("<div/>").attr({id: 'future_doctor_full_name_' + i, class: 'accordion-body'}).appendTo('#future_text_' + i);
                    document.getElementById('future_doctor_full_name_' + i).textContent = `Доктор: ${data.future_records[i].doctor_full_name}`;
                    $("<div/>").attr({id: 'future_office_' + i, class: 'accordion-body'}).appendTo('#future_text_' + i);
                    document.getElementById('future_office_' + i).textContent = `Кабинет: ${data.future_records[i].office}`;
                }
            }
        }
        else {
            $("<h3/>").attr({id: 'footer_text', class: 'text-center lead'}).appendTo('#row');
            document.getElementById('footer_text').textContent = 'У данного пациента отсутствуют записи!';
            $("<button/>").attr({id: 'footer_btn', class: 'btn btn-outline-primary', type: 'button', 'data-bs-toggle': 'modal', 'data-bs-target': `#modal`}).appendTo('#row');
            document.getElementById('footer_btn').textContent = 'Добавить';
        }
    }


    
</script>

{% endblock %}


