{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <form id="form" action="/search/search_process" onsubmit="find_user(); return false;">
        <div class="input-group mb-3">
            <input list="patient" placeholder="Поиск пациента" type="search" id="q" class="form-control" aria-describedby="search-button">
            <datalist id="patient">
                {% for i in patients %}
                <option value="{{ i.full_name }}">
                {% endfor %}
            </datalist>
        
            <button id="search-button" type="submit" class="btn btn-outline-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>


    </form>
</div>
 

{% if is_patients %}
    {% for i in patients_search %}
        {{ i.full_name }}
        {{ i.birthday }}
        {{ i.is_reception }}
        {{ i.trust_factor }}
        {{ i.patient_role }}
        {{ i.phone }}
    {% endfor %}
{% else %}
    <div class="text-center">
        <h2>Похожих пациентов нет</h2>
    </div>
{% endif
     %}

    
     <script>
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
        return new bootstrap.Toast(toastEl, option)
        })
        toast.show()

        function find_user() {
            var $form = $( '#form' ),
                url = $form.attr( "action" );
            // $('#q').val()
            var posting = $.post( url, {'data' : $('#q').val()} );

            posting.done(function( data ) {
                if (data.success == "false") {
                    toastr["warning"]("Пользователь не найден.", "Предупреждение!");
                }
                else {
                    console.log(data.patients);
                    toastr["success"]("Успешно!");
                }
            });
        };
    </script>

{% endblock %}


