{% extends 'base/base.html' %}


{% block content %}

<div class="container" id='cont'>
    <form class="mb-5" onsubmit="send_form(); return false;">
        <div class="row form-row">
            <label for="fio" class="form-label">ФИО</label>
            <div class="input-group mb-3">
                <input type="text" name='full_name' class="form-control" id="fio" placeholder="Фамилия Имя Отчество" required>
            </div>
            <label for="phone" class="form-label">Номер телефона</label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">+7</span>
                <input id="phone" type="text" class="form-control jmp__input_tel" aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <div class="form-check">
                <input class="form-check-input" name='is_pregnancy' type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Беременность
                </label>
                </div>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btl-lg">Отправить</button>
            </div>
        </div>
    </form>
</div>


<script>
    $(document).ready(function() { 
        record_list();

    });
    function record_list() {
    
        url = '/list_expectation/record_list';

        var posting = $.post(url);
        
        posting.done(function( data ) {
            if (data.success == "false") {
                toastr["error"]("Произошла ошибка, пожалуйста попробуйте еще раз или обратитесь к администратору.", "Ошибка!");
            }
            else {
                console.log(data);
                createForm(data['records']);
            }
        });
    };

    function delBlock() {
        if ($('#data_place').length) {
            $("#data_place").empty();
        }
    }
    function is_pregnancy(obj) {
        url = '/list_expectation/is_pregnancy';

        var posting = $.post(url, {'check': obj.checked, 'rec_id': obj.getAttribute('rec_id')});
        
        posting.done(function( data ) {
            if (data.success == "false") {
                toastr["error"]("Произошла ошибка, пожалуйста попробуйте еще раз или обратитесь к администратору.", "Ошибка!");
            }
            else {
                toastr["success"]("Успешно!");
            }
        });
    }

    function send_form(obj) {
        url = '/list_expectation/add_list';
        fio = $('#fio').val();
        phone = '+7' + $('#phone').val();
        check = $('#gridCheck').is(':checked');


        var posting = $.post(url, {'check': check, 'full_name': fio, 'phone': phone});
        
        posting.done(function( data ) {
            if (data.success == "false") {
                toastr["error"]("Произошла ошибка, пожалуйста попробуйте еще раз или обратитесь к администратору.", "Ошибка!");
            }
            else {
                record_list();
            }
        });
    }

    function del_item(obj) {
        url = '/list_expectation/del_list';

        var posting = $.post(url, {'rec_id': obj.getAttribute('rec_id')});
        
        posting.done(function( data ) {
            if (data.success == "false") {
                toastr["error"]("Произошла ошибка, пожалуйста попробуйте еще раз или обратитесь к администратору.", "Ошибка!");
            }
            else {
                toastr["success"]("Успешно!");
                record_list();
            }
        });
    }
    
    function createForm(data) {
        delBlock();
        $("<div/>").attr({id: 'data_place'}).appendTo('#cont');
        $("<h4/>").attr({id: 'h4_data', class: 'text-center mb-5'}).appendTo('#data_place');
        document.getElementById(`h4_data`).textContent = "Лист ожидания"
        $("<div/>").attr({id: 'accordion', class: 'accordion accordion-flush overflow-auto', style: 'max-height: 35vh'}).appendTo('#data_place');
        for (let count = 0; count < data.length; count++) {
            $("<div/>").attr({id: `accordion-item_${count}`, class: 'accordion-item'}).appendTo(`#accordion`);
            $("<h2/>").attr({id: `flush_heading_${count}`, class: 'accordion-header'}).appendTo(`#accordion`);
            $("<button/>").attr({id: `accordion_button_${count}`, class: 'accordion-button collapsed', type: 'button', 'data-bs-toggle': 'collapse', 'data-bs-target': `#flush_collapse_${count}`, 'aria-expanded': 'false', 'aria-controls': `flush_collapse_${count}`}).appendTo(`#flush_heading_${count}`);
            document.getElementById(`accordion_button_${count}`).textContent = data[count].full_name;
            $("<div/>").attr({id: `flush_collapse_${count}`, class: 'accordion-collapse collapse', 'aria-labelledby': `flush_heading_${count}`, }).appendTo(`#accordion`);
            $("<div/>").attr({id: `accordion_body_${count}`, class: 'accordion-body d-flex justify-content-between align-items-center'}).appendTo(`#flush_collapse_${count}`);
            $("<div/>").attr({id: `col_1_${count}`, class: 'col'}).appendTo(`#accordion_body_${count}`);
            $("<div/>").attr({id: `col_2_${count}`, class: 'col d-flex justify-content-end'}).appendTo(`#accordion_body_${count}`);
            $("<div/>").attr({id: `form_check_${count}`, class: 'form-check'}).appendTo(`#col_1_${count}`);
            if (!data[count].is_pregnancy) {
                $("<input/>").attr({'rec_id': data[count].id, id: `is_pregnancy_${count}`, class: 'form-check-input', type: 'checkbox', 'onclick': 'is_pregnancy(this);'}).appendTo(`#form_check_${count}`);
                $("<label/>").attr({id: `check_${count}`, class: 'form-check-label', for: `is_pregnancy_${count}`}).appendTo(`#form_check_${count}`);
                document.getElementById(`check_${count}`).textContent = `Беременность`
            }
            else {
                $("<input/>").attr({'rec_id': data[count].id, id: `is_pregnancy_${count}`, class: 'form-check-input', type: 'checkbox', 'checked': true, 'onclick': 'is_pregnancy(this);'}).appendTo(`#form_check_${count}`);
                $("<label/>").attr({id: `check_${count}`, class: 'form-check-label', for: `is_pregnancy_${count}`}).appendTo(`#form_check_${count}`);
                document.getElementById(`check_${count}`).textContent = `Беременность`
            }
            $("<span/>").attr({id: `phone_accordion_body_${count}`}).appendTo(`#col_1_${count}`);
            $("<br/>").appendTo(`#col_1_${count}`);
            $("<span/>").attr({id: `date_request_accordion_body_${count}`}).appendTo(`#col_1_${count}`);
            document.getElementById(`phone_accordion_body_${count}`).textContent = `Номер телефона: ${data[count].phone}`;
            document.getElementById(`date_request_accordion_body_${count}`).textContent = `Дата записи: ${data[count].date}`;
            $("<button/>").attr({'rec_id': data[count].id, id: `del_button_${count}`, class: 'btn btn-dark bx bx-x', type: 'button', 'onclick': 'del_item(this);'}).appendTo(`#col_2_${count}`);
        }
    }
</script>
{% endblock %}