{% extends 'base/base.html' %}


{% block content %}

<div class="container" id='cont'>
    <div class="accordion accordion-flush overflow-auto" id="accordionFlushExample" style="max-height: 30vh; padding-right: 5px;">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Accordion Item #1
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
          </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() { 
        record_list();

    });
    function record_list() {
    
        url = '/list_expectation/record_list';

        var posting = $.post(url);
        
        posting.done(function( data ) {
            if (data.success == "false") {
                toastr["error"]("Произошла ошибка, пожалуйста попробуйте еще раз или обратитесь к администратору.", "Ошибка!");
            }
            else {
                console.log(data)
            }
        });
    };
</script>
{% endblock %}