{% extends 'base/base.html' %}


{% block content %}
<script>
    $(document).ready(function() { 
        console.log("я родился");
        get_doctors();
    });

    function get_doctors() {
        url = '/reception/get_doctors'
        var posting = $.post( url );

        posting.done(function( data ) {
            if (data.success == "false") {
                toastr["error"]("Произошла ошибка, пожалуйста попробуйте еще раз или обратитесь к администратору.", "Ошибка!");
            }
            else {
                console.log(data);
                toastr["success"]("Успешно!");
            }
        });
    };

</script>

<div class="container">
    <div class="row">
        <div class="col">
            <form id='searchFormtest' action="/reception/reception_process">
                <div id="sandbox-container" class="d-flex justify-content-center"></div>
            </form>
            <br>
            <div class role="alert" id="alert"></div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ru.min.js"></script>

<script>
    $('#sandbox-container').datepicker({
        format: "yyyy-mm-dd",
        startView: 2,
        maxViewMode: 2,
        todayBtn: "linked",
        language: "ru",
        daysOfWeekDisabled: "0",
        autoclose: true,
        todayHighlight: true,
    }).on('changeDate', showTestDate);
    function showTestDate() {
        console.log($('#sandbox-container').datepicker('getFormattedDate'));

        event.preventDefault();
    
        var $form = $( '#searchFormtest' ),
            term = $form.find( "#sandbosssx-container" ).val(),
            url = $form.attr( "action" );
    
        // Send the data using post
        var posting = $.post(url, { date: $('#sandbox-container').datepicker('getFormattedDate') } );
    
        // Put the results in a div
        posting.done(function( data ) {
            if (data.success == "false") {
                toastr["warning"]("Не найдены записи на сегодня.", "Предупреждение!");
            }
            else {
                for (var a = 0; a < data.data.length; a++) {
                    console.log(data.data[a].full_name + a)
                    console.log(data.data[a].trust_factor + a)
                    console.log(data.data[a].role + a)
                    console.log(data.data[a].comment + a)
                    console.log(data.data[a].phone + a)

                }
            }
        });
    };
    

</script>

{% endblock %}

