{% extends 'base/base.html' %}


{% block content %}

<div class="container" id='cont'>
    <div class="row mb-5">
        <div class="col">
            <form id='searchFormtest'>
                <div id="sandbox-container" class="d-flex justify-content-center"></div>
            </form>
        </div>
    </div>
      
      <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_label">Расписание</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form_modal" onsubmit="add_schedule(); return false;">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Номер кабинета</span>
                            <input name="office" id='office' type="number" aria-label="First name" class="form-control" onkeypress="return event.charCode >= 48" min="1" max="24" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3">Время</span>
                            <input id="after" type="text" class="form-control after" required>
                            <input id="before" type="text" class="form-control before" required>
                        </div>
                        <select onchange="test(this);" name="step" id='step' class="form-select" aria-label="Пример выбора по умолчанию" required>
                            <option value="0" selected disabled>Выберите промежуток</option>
                            <option value="15">15 мин</option>
                            <option value="30">30 мин</option>
                            <option value="45">45 мин</option>   
                            <option value="60">60 мин</option>
                        </select>
                        <br>
                        <div class="d-grid gap-2">
                            <button id='myBtn' type="submit" class="btn btn-dark">Создать</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ru.min.js"></script>  

<script>
    var doc_select = '';
    var user_select = '';
    var doctors = {};
    var patients = {};

    $("#myBtn").click(function(){
        $("#modal").modal('hide');
    });


    var result = [];
    var current_date = moment().format('DD.MM.YYYY');

    function clearModal() {
        $('#office').val('');
        $('#after').val('');
        $('#before').val('');
    }

    function test(obj){
        let start = document.getElementById("after").value;
        let end = document.getElementById("before").value;
        let _start = moment(start, 'HH:mm');
        let _end = moment(end, 'HH:mm');
        result = [];
        
        while (_start <= _end) {
            result.push(_start.format('HH:mm'));
            _start.add(obj.value, 'minutes');
        }
    }
    function add_schedule() {
        
        office = $( "#office" ).val();
        url = '/reception/add_schedule';

        var answer = [];

        for (let count_times = 0; count_times < result.length; count_times++) {
            answer.push([doc_select, current_date, result[count_times], office, doctors[doc_select]]);
        }


        var posting = $.post(url, data = JSON.stringify({'data': answer}));
    
        posting.done(function( data ) {
            if (data.success == "false") {
                toastr["error"]("Ошибка!");
            }
            else {
                get_doctors(current_date);
                clearModal();
            }
        });
    };

    $(document).ready(function() { 
        get_doctors(moment().format('DD.MM.YYYY'));

    });

    function get_doctors(date) {
        url = '/reception/get_data'
        var posting = $.post( url, {'date': date});

        posting.done(function( data ) {
            if (data.success == "false") {
                toastr["error"]("Произошла ошибка, пожалуйста попробуйте еще раз или обратитесь к администратору.", "Ошибка!");
            }
            else {
                for (let count = 0; count < data['data'].length; count++) {
                    doctors[data['data'][count].doc_id] = data['data'][count].doc_full_name;
                }
                for (let count = 0; count < data['patients'].length; count++) {
                    patients[data['patients'][count].patient_full_name] = data['patients'][count].patient_id;
                }
                
                createForm(data);
            }
        });
    };

    $('#sandbox-container').datepicker({
        format: "dd.mm.yyyy",
        startView: 2,
        maxViewMode: 2,
        todayBtn: "linked",
        language: "ru",
        autoclose: true,
        todayHighlight: true,
        daysOfWeekHighlighted: "0"
    }).on('changeDate', showTestDate);

    function showTestDate() {
        current_date = $('#sandbox-container').datepicker('getFormattedDate');
        console.log(current_date)
        url = '/reception/get_doctors';

        var posting = $.post(url, { date: current_date} );
        
        posting.done(function( data ) {
            if (data.success == "false") {
                toastr["error"]("Произошла ошибка, пожалуйста попробуйте еще раз или обратитесь к администратору.", "Ошибка!");
            }
            else {
                toastr["success"]("Успешно!");
                createForm(data);
            }
        });
    };

    function delBlock() {
        if ($('#data_place').length) {
            $("#data_place").empty();
        }
    }
    
    function createForm(all_data) {
        data = all_data['data']
        delBlock()
        $("<div/>").attr({id: 'data_place'}).appendTo('#cont');
        $("<div/>").attr({id: 'row', class: 'row'}).appendTo('#data_place');
        for (let count = 0; count < data.length; count++) {
            $("<div/>").attr({id: `col_${count}`, class: 'col-sm-3 mt-5'}).appendTo(`#row`);
            $("<div/>").attr({id: `head_${count}`}).appendTo(`#col_${count}`);
            $("<p/>").attr({id: `head_fio_${count}`, class: 'text-center mb-1'}).appendTo(`#head_${count}`);
            document.getElementById(`head_fio_${count}`).textContent = data[count].doc_full_name;
            $("<p/>").attr({id: `head_div_doc_${count}`, class: 'text-center'}).appendTo(`#head_${count}`);
            $("<p/>").attr({id: `head_office_${count}`, class: 'text-center'}).appendTo(`#head_${count}`);
            document.getElementById(`head_div_doc_${count}`).textContent = `${data[count].div_doc}`;
            if (data[count].records.length > 0) {
                document.getElementById(`head_office_${count}`).textContent = `Кабинет №${data[count].records[0].office}`;
                $("<div/>").attr({id: `scroll_${count}`, class: 'overflow-auto', style: "max-height: 40vh; padding-right: 5px;"}).appendTo(`#col_${count}`);
                for (let item_count = 0; item_count < data[count].records.length; item_count++) {
                    if (data[count].records[item_count].is_active == 1) {
                        $("<div/>").attr({id: `scroll_item_${count}_${item_count}`, class: 'input-group input-group-sm mb-2'}).appendTo(`#scroll_${count}`);
                        if (moment() > moment(data[count].records[item_count].time, 'HH:mm')) {
                            $("<span/>").attr({id: `scroll_item_span_${count}_${item_count}`, class: 'input-group-text btn-secondary text-white'}).appendTo(`#scroll_item_${count}_${item_count}`);
                        }
                        else {
                            $("<span/>").attr({id: `scroll_item_span_${count}_${item_count}`, class: 'input-group-text btn-primary text-white'}).appendTo(`#scroll_item_${count}_${item_count}`);
                        }
                        document.getElementById(`scroll_item_span_${count}_${item_count}`).textContent = data[count].records[item_count].time;
                        $("<input/>").attr({list: `scroll_item_datalist_${count}_${item_count}`, 'rec_id': data[count].records[item_count].rec_id, id: `scroll_item_input_${count}_${item_count}`, class: 'form-control', type: 'text', 'aria-describedby': `scroll_item_${count}_${item_count}`, 'data-bs-toggle': 'tooltip', 'data-bs-placement': 'top', 'title': data[count].records[item_count].patient_full_name}).appendTo(`#scroll_item_${count}_${item_count}`);
                        $("<datalist/>").attr({id: `scroll_item_datalist_${count}_${item_count}`}).appendTo(`#scroll_item_${count}_${item_count}`);
                        for (let patient_count = 0; patient_count < all_data['patients'].length; patient_count++) {
                            if (all_data['patients'][patient_count].patient_full_name) {
                                $("<option/>").attr({value: all_data['patients'][patient_count].patient_full_name}).appendTo(`#scroll_item_datalist_${count}_${item_count}`);
                            }
                        }
                        if (data[count].records[item_count].patient_full_name) {
                            $(`#scroll_item_input_${count}_${item_count}`).attr('readonly', true);
                            $(`#scroll_item_input_${count}_${item_count}`).val(data[count].records[item_count].patient_full_name);
                            if (all_data['role'] == 'doctor') {
                                $("<button/>").attr({'rec_id': data[count].records[item_count].rec_id, 'onclick': 'is_active(this, 1);', id: `scroll_item_button_come_${count}_${item_count}`, class: 'btn btn-success bx bx-calendar-check', type: 'button'}).appendTo(`#scroll_item_${count}_${item_count}`);
                                $("<button/>").attr({'rec_id': data[count].records[item_count].rec_id, 'onclick': 'is_active(this, 0);', id: `scroll_item_button_not_come_${count}_${item_count}`, class: 'btn btn-danger bx bx-calendar-x', type: 'button'}).appendTo(`#scroll_item_${count}_${item_count}`);
                                $("<button/>").attr({'rec_id': data[count].records[item_count].rec_id, 'onclick': 'replace(this);', id: `scroll_item_button_edit_${count}_${item_count}`, class: 'btn btn-dark bx bx-calendar-edit', type: 'button'}).appendTo(`#scroll_item_${count}_${item_count}`);
                            }
                        }
                        else {
                            $("<button/>").attr({'onclick': 'addRecord(this);', 'input_id': `scroll_item_input_${count}_${item_count}`, id: `scroll_item_button_add_${count}_${item_count}`, class: 'btn btn-primary bx bx-calendar-plus', type: 'button'}).appendTo(`#scroll_item_${count}_${item_count}`);
                        }
                    }
                }
            }
            else {
                // document.getElementById(`head_office_${count}`).textContent = `Кабинет не выбран`;
                $("<div/>").attr({id: `records_${count}`, class: 'text-center'}).appendTo(`#col_${count}`);
                $("<h5/>").attr({id: `not_record_h5_${count}`, class: 'mb-3'}).appendTo(`#records_${count}`);
                document.getElementById(`not_record_h5_${count}`).textContent = 'Расписание отсутствует';
                $("<button/>").attr({'doctor_id': data[count].doc_id, 'onclick': 'get_select_doc(this);', id: `not_record_button_${count}`, class: 'btn btn-outline-primary', type: 'button', 'data-bs-toggle': 'modal', 'data-bs-target': `#modal`}).appendTo(`#records_${count}`);
                $("<i/>").attr({class: 'bx bx-calendar-edit'}).appendTo(`#not_record_button_${count}`);
                document.getElementById(`not_record_button_${count}`).textContent = 'Добавить';
            }
        }
    }
    function get_select_doc(obj) {
        doc_select = document.getElementById(obj.id).getAttribute('doctor_id');
    }

    function is_active(obj, type) {
        rec_id = document.getElementById(obj.id).getAttribute('rec_id');
    
        url = '/reception/is_active';

        var posting = $.post(url, { 'rec_id': rec_id, 'type': type} );
        
        posting.done(function( data ) {
            if (data.success == "false") {
                toastr["error"]("Произошла ошибка, пожалуйста попробуйте еще раз или обратитесь к администратору.", "Ошибка!");
            }
            else {
                toastr["success"]("Успешно!");
                get_doctors(current_date)
            }
        });
    };

    function addRecord(obj) {
        input_id = document.getElementById(obj.id).getAttribute('input_id');
        rec_id = document.getElementById(input_id).getAttribute('rec_id');
        user_full_name = $(`#${input_id}`).val();
        user_id = patients[user_full_name];
    
        url = '/reception/record';

        var posting = $.post(url, { 'rec_id': rec_id, 'patient_full_name': user_full_name, 'patient_id': user_id} );
        
        posting.done(function( data ) {
            if (data.success == "false") {
                toastr["error"]("Произошла ошибка, пожалуйста попробуйте еще раз или обратитесь к администратору.", "Ошибка!");
            }
            else {
                get_doctors(current_date);
            }
        });
    };
    function replace(obj) {
        rec_id = document.getElementById(obj.id).getAttribute('rec_id');
    
        url = '/reception/replace';

        var posting = $.post(url, { 'rec_id': rec_id} );
        
        posting.done(function( data ) {
            if (data.success == "false") {
                toastr["error"]("Произошла ошибка, пожалуйста попробуйте еще раз или обратитесь к администратору.", "Ошибка!");
            }
            else {
                get_doctors(current_date);
            }
        });
    };
</script>

{% endblock %}