{% extends 'base/base.html' %}

{% block content %}
    {% for i in res %}
        {% for o in range(res.count()) %}
        ID: {{ i.records[o].id }}
        <form action="/reception_process" method="post">
        
            <div class="group">
                <input type="text" id='inp'>
            </div>
        
        </form>
            
        {% endfor %}
    {% endfor %}


    <script>
        $(document).ready(function(){

            $('inp').on('input', function(event){
        
                $.ajax({
                    data : {
                        date : $('#inp').val()
                    },
                    type : 'POST',
                    url : '/reception_process'
                })
                .done(function(data){
                    
                    if (data.success == 'True'){    
                        var objSel = document.getElementById("select");
                        objSel.options.length = 0;                        
                        var str = data.times.replace(/[^:0-9\s]/gi, '').split(' ');

                    for(let i = 0; i<str.length; i++){
                        let newOption = new Option(str[i], "val_" + i);
                        objSel.append(newOption);

                    }  
                }
                else{
                    var objSel = document.getElementById("select");
                    let selectedOption = objSel.options;
                    let newOption = new Option('Нет времени', "val_exec");
                    objSel.append(newOption);
                }
                })
        
            });
        
        });
    </script>

{% endblock %}