<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% for msg in get_flashed_messages() %}
    <div class="flash">{{msg}}</div>
{% endfor %}
   
    <div class="d-flex justify-content-sm-center">

        <div class="text-center">
            <form method="POST">
                <div class="form-group">
                    <label for="inputLogin">Имя</label>
                    <input name="login" type="login" class="form-control" id="inputLogin" placeholder="shpex">
                </div>
                <br>
                <div class="form-group">
                    <label for="inputPassword">Пароль</label>
                    <input name="password" type="password" class="form-control" id="inputPassword" placeholder="***">
                </div>
                <br>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-dark waves-effect">Войти</button>
                </div>
            </form>
        </div>
        </div>
        

</body>
</html>
