{% extends 'base.html' %}
{% include 'style.html' %}
{% block title %}DEV{% endblock %}

{% block content %}
{% include 'leftside.html' %}
	<!--Container Main start-->
    <div class="height-100 bg-light">
        <div class="container-sm">
            <div class="row">
                <div class="d-flex justify-content-center">
                    {% for i in list %}
                        
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}