{% extends 'base.html' %}
{% include 'style.html' %}
{% block title %}DEV{% endblock %}

{% block content %}
{% include 'leftside.html' %}
	<!--Container Main start-->
    <div class="height-100 bg-light">
        <h2>Запись на прием</h4>
            
    <!-- Test for Sempa1X Form-->
        <div class="container-xxl">
            {% if isActive_form_choice %}
                <form action="" method="post">
                                                    <!-- ФИО -->
                    <div class="input-group text-center">
                        <span class="input-group-text " style="width: 10%">Фамилия</span>
                        <input name="last_name" type="text"  list="data_last" id="exampleDataList" aria-label="First name" class="form-control" placeholder="Фамилия" style="width: 33%">
                            <datalist id="data_last">
                            <option value="Азанов" selected>
                            <option value="Трунов">
                            <option value="Азонов">
                            </datalist>
                    </div>

                    <div class="input-group">
                        <span class="input-group-text " style="width: 10%">Имя</span>
                        <input name="first_name" type="text"  list="data_first" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">
                            <datalist id="data_first">
                            <option value="Андрей" selected>
                            <option value="Анастасия">
                            <option value="Анна">
                            </datalist>
                    </div>

                    <div class="input-group">
                        <span class="input-group-text " style="width: 10%">Отчество</span>
                        <input name="surname" type="text"  list="data_sur" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Отчество" style="width: 33%">
                            <datalist id="data_sur">
                            <option value="Андреевич" selected>
                            <option value="Андреевна">
                            <option value="Анатольевич">
                            </datalist>
                    </div>

                                                    <!-- end ФИО -->

                                                <!-- Запись + выбор -->
                    <label for="exampleDataList" class="form-label">Тип пациента</label>
                        <input name="pacient_choice" class="form-control" list="data_pacient" id="exampleDataList" placeholder="">
                        <datalist id="data_pacient">
                        <option value="Обычный" selected>
                        <option value="Ребенок">
                        <option value="Беременная">

                        </datalist>
                                                    <!--end Запись + выбор -->

                                                    <!-- День рождения -->
                        <label for="exampleDataList" class="form-label">Дата рождения</label>
                        <input name="date_birth" class="form-control" type="text" placeholder="дд-мм-гггг" aria-label="пример ввода по умолчанию">
                                                    <!--end День рождения -->

                                                        <!-- Как узнал -->
                        <label for="exampleDataList" class="form-label">Как узнал</label>
                        <input name="how_think" list="data_how" class="form-control" type="text" placeholder="Как узнал" aria-label="пример ввода по умолчанию">
                            <datalist id="data_how">
                            <option value="Реклама" selected>
                            <option value="Рассказали">
                            <option value="Что-то еще добавить надо">
                            </datalist>
                        
                                                        <!--end как узнал -->


                                                        <!-- адрес (нужно найти api для дополнения адресов) -->
                            <label for="exampleDataList" class="form-label">Адрес</label>
                            <input name="address" list="data_address" class="form-control" type="text" placeholder="Адрес" aria-label="пример ввода по умолчанию">
                                <datalist id="data_address">
                                <option value="Адрес" selected>
                                <option value="Другой...">
                                </datalist>   
                                                        <!--end адрес -->

                        <div class="d-grid gap-2">
                            <button name="btn_pacient_choice" class="btn btn-primary" type="submit">Далее</button>
                        </div>
                </form>
            {% endif %}
            

            {% if pacient_choice == 'Ребенок' %}
            <form action="" method="post">

            </form>
                
            {% elif pacient_choice == 'Обычный' %}

            {% elif pacient_choice == 'Беременная' %}

            {% endif %}

        </div>


    <!-- End Test -->
    </div>


    <!--Container Main end-->
{% endblock %}
