{% extends 'base.html' %}
{% include 'style.html' %}
{% block title %}DEV{% endblock %}

{% block content %}
{% include 'leftside.html' %}
	<!--Container Main start-->
    <div class="height-100 bg-light">
        <h2>Запись на прием</h4>
            
    <!-- Test for Sempa1X Form-->
        <div class="container-xxl">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            
                <form name="test" action="" method="post">
<!--  -->
                    <div class="input-group">
                        <span class="input-group-text " style="width: 10%">Доктор</span>
                        <input name="doctor" type="text"  list="data_doc" class="form-control" placeholder="Фамилия" style="width: 33%">
                            <datalist id="data_doc">
                                {% for doctor in doctors %}
                                    <option value="{{ doctor.id }}: {{ doctor.first_name }} {{ doctor.last_name }} {{ doctor.surname }}">
                                {% endfor %}        
                            </datalist>
                    </div>

                    <div class="input-group">
                        <input name="calendar" type="date" class="form-control" name="date" value="{{ current_date }}" placeholder="Дата">

                        <span class="input-group-text " style="width: 10%">Время</span>
                        <input name="time" type="text"  list="data_date" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">
                            <datalist id="data_date ">
                            <option value="10:00" selected>
                            <option value="10:30">
                            <option value="11:00">
                            </datalist>
                    </div>

                                                    <!-- ФИО -->
                    <div class="input-group text-center">
                        <span class="input-group-text " style="width: 10%">Фамилия</span>
                        <input name="last_name" type="text"  list="data_last" class="form-control" placeholder="Фамилия" style="width: 33%">
                            <datalist id="data_last">
                            <option value="Азанов" selected>
                            <option value="Трунов">
                            <option value="Азонов">
                            </datalist>
                    </div>

                    <div class="input-group">
                        <span class="input-group-text " style="width: 10%">Имя</span>
                        <input name="first_name" type="text"  list="data_first" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">
                            <datalist id="data_first">
                            <option value="Андрей" selected>
                            <option value="Анастасия">
                            <option value="Анна">
                            </datalist>
                    </div>

                    <div class="input-group">
                        <span class="input-group-text " style="width: 10%">Отчество</span>
                        <input name="surname" type="text"  list="data_sur" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Отчество" style="width: 33%">
                            <datalist id="data_sur">
                            <option value="Андреевич" selected>
                            <option value="Андреевна">
                            <option value="Анатольевич">
                            </datalist>
                    </div>

                                                    <!-- end ФИО -->

                                                <!-- Запись + выбор -->
                    <label for="exampleDataList" class="form-label">Тип пациента</label>
                        <input name="pacient_choice" class="form-control" list="data_pacient" id="exampleDataList" placeholder="">
                        <datalist id="data_pacient">
                        <option value="Обычный" selected>
                        <option value="Ребенок">
                        <option value="Беременная">

                        </datalist>
                                                    <!--end Запись + выбор -->

                                                    <!-- День рождения -->
                        <label for="exampleDataList" class="form-label">Дата рождения</label>
                        <input name="date_birth" class="form-control" type="text" placeholder="дд-мм-гггг" aria-label="пример ввода по умолчанию">
                                                    <!--end День рождения -->

                                                        <!-- Как узнал -->
                        <label for="exampleDataList" class="form-label">Как узнал</label>
                        <input name="how_think" list="data_how" class="form-control" type="text" placeholder="Как узнал" aria-label="пример ввода по умолчанию">
                            <datalist id="data_how">
                            <option value="Реклама" selected>
                            <option value="Рассказали">
                            <option value="Что-то еще добавить надо">
                            </datalist>
                        
                                                        <!--end как узнал -->


                                                        <!-- адрес (нужно найти api для дополнения адресов) -->
                            <label for="exampleDataList" class="form-label">Адрес</label>
                            <input name="address" list="data_address" class="form-control" type="text" placeholder="Адрес" aria-label="пример ввода по умолчанию">
                                <datalist id="data_address">
                                <option value="Адрес" selected>
                                <option value="Другой...">
                                </datalist>   
                                                        <!--end адрес -->

                            <label for="exampleDataList" class="form-label">Причина</label>
                            <input name="reason" class="form-control" type="text" placeholder="причина" aria-label="пример ввода по умолчанию">

                
            

            {% if pacient_choice == 'Ребенок' %}
                <div class="input-group text-center">
                    <span class="input-group-text ">Имя опекуна</span>
                    <input name="lr_f_name" type="text"  list="data_first" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">  
                </div>
                        
                <div class="input-group text-center">
                    <span class="input-group-text ">Фамилия опекуна</span>
                    <input name="lr_l_name" type="text"  list="data_first" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">  
                </div>

                <div class="input-group text-center">
                    <span class="input-group-text ">Отчество опекуна</span>
                    <input name="lr_surname" type="text"  list="data_first" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">  
                </div>

                <div class="input-group text-center">
                    <span class="input-group-text ">Статус опекуна</span>
                    <input name="lr_status" type="text"  list="data_status" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">  
                        <datalist id="data_last">
                            <option value="Мать" selected>
                            <option value="Отец">
                            <option value="Бабушка">
                            <option value="Дедушка">

                            </datalist>
                </div>

                <div class="input-group text-center">
                    <span class="input-group-text ">Серия паспорта опекуна</span>
                    <input name="lr_pass_serial" type="text"  list="data_first" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">  
                </div>

                <div class="input-group text-center">
                    <span class="input-group-text ">Номер паспорта опекуна</span>
                    <input name="lr_pass_num" type="text"  list="data_first" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">  
                </div>

                <div class="input-group text-center">
                    <span class="input-group-text ">Дата выдачи паспорта опекуна</span>
                    <input name="lr_pass_date" type="text"  list="data_first" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">  
                </div>

                <div class="input-group text-center">
                    <span class="input-group-text ">Кем выдан паспорт опекуна</span>
                    <input name="lr_pass_issued" type="text"  list="data_first" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">  
                </div>
                
            {% elif pacient_choice == 'Обычный' %}

                <div class="input-group text-center">
                    <span class="input-group-text ">Серия паспорта</span>
                    <input name="pass_serial" type="text"  list="data_first" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">  
                </div>

                <div class="input-group text-center">
                    <span class="input-group-text ">Номер паспорта</span>
                    <input name="pass_num" type="text"  list="data_first" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">  
                </div>

                <div class="input-group text-center">
                    <span class="input-group-text ">Дата выдачи паспорта</span>
                    <input name="pass_date" type="text"  list="data_first" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">  
                </div>

                <div class="input-group text-center">
                    <span class="input-group-text ">Кем выдан паспорт</span>
                    <input name="pass_issued" type="text"  list="data_first" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">  
                </div>

            {% elif pacient_choice == 'Беременная' %}

            <div class="input-group text-center">
                <span class="input-group-text ">Серия паспорта</span>
                <input name="pass_serial" type="text"  list="data_first" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">  
            </div>

            <div class="input-group text-center">
                <span class="input-group-text ">Номер паспорта</span>
                <input name="pass_num" type="text"  list="data_first" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">  
            </div>

            <div class="input-group text-center">
                <span class="input-group-text ">Дата выдачи паспорта</span>
                <input name="pass_date" type="text"  list="data_first" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">  
            </div>

            <div class="input-group text-center">
                <span class="input-group-text ">Кем выдан паспорт</span>
                <input name="pass_issued" type="text"  list="data_first" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">  
            </div>

            <div class="input-group text-center">
                <span class="input-group-text ">Количество эмбрионов</span>
                <input name="count_embr" value="1" type="text"  list="data_first" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">  
            </div>

            <div class="input-group text-center">
                <span class="input-group-text ">Примерная дата рождения плода</span>
                <input name="estimated_birthday" type="text"  list="data_first" id="exampleDataList" aria-label="Last name" class="form-control" placeholder="Имя" style="width: 33%">  
            </div>

            {% endif %}
            <div class="d-grid gap-2">
                <button name="btn_pregnant" class="btn btn-primary" type="submit">Отправить</button>
            </div>
        </div>
    </form>


    <!-- End Test -->
    </div>


    <!--Container Main end-->
<script type="text/javascript" src="{{ url_for('static', filename='js/form.js') }}"></script>
{% endblock %}
