{% extends 'base.html' %}
{% include 'style.html' %}
{% block title %}DEV{% endblock %}

{% block content %}
{% include 'leftside.html' %}
	<!--Container Main start-->
    <div class="height-100 bg-light">
        <div class="row align-items-center h-100">
            <div class="col-6 mx-auto">
                <h2 class="text-center">Запись на прием</h2>
                <br>
                <form method="post">
                    <div class="input-group">
                        <span class="input-group-text">Доктор</span>
                        <input name="doctor" type="text"  list="data_doc" class="form-control" placeholder="Фамилия" style="width: 33%">
                            <datalist id="data_doc">
                                {% for doctor in doctors %}
                                    <option value="{{ doctor.id }}: {{ doctor.first_name }} {{ doctor.last_name }} {{ doctor.surname }}">
                                {% endfor %}        
                            </datalist>
                    </div>

                    <select name="pacient_choice" id="pacient_choice" class="form-select">
                        <option value="Обычный">Обычный</option>
                        <option value="Ребенок">Ребенок</option>
                        <option value="Беременная">Беременная</option>
                    </select>
                        <br>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-dark" > Отправить</button>
                        </div>
                </form>
            </div>
        </div>
    </div>

    
{% endblock %}