{% extends 'base.html' %}
{% include 'style.html' %}
{% block title %}DEV{% endblock %}

{% block content %}
{% include 'leftside.html' %}
	<!--Container Main start-->
    <div class="height-100 bg-light">
        <h2 class="text-center">Расписание докторов</h2>
        <br>
        <div class="container-sm">
            <div class="row">
                <div class="d-flex justify-content-center">
                    <form method="post">
                        <select name="doctor" class="form-select" aria-label="Пример выбора по умолчанию">
                            {% for doctor in doctors %}
                                <option value="{{ doctor.id }}">{{ doctor.first_name }} {{ doctor.last_name }} {{ doctor.surname }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <select name="choice" class="form-select" aria-label="Пример выбора по умолчанию">
                            <option value="input">Вывести</option>
                            <option value="add">Добавить</option>
                        </select>
                        <br>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-dark">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}