{% extends 'base.html' %}
{% include 'style.html' %}
{% block title %}DEV{% endblock %}

{% block content %}
{% include 'leftside.html' %}
<div class="height-100 bg-light">
    <div class="row align-items-center h-100">
        <div class="col-10 mx-auto">
            <h2 >Расписание докторов</h2>
            <div class="container-xxl">
                <div class="row d-flex">
                    {% for i in schedules %}
                        <div class="col-sm-3 m-4 card text-white bg-dark mb-3">
                            <div class="card-header">
                                ID Doctor:  {{ i.doctor_id }}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Дата: {{ i.date }} | Время: {{ i.time }}</h5>
                                <p class="card-text">Кабинет: {{ i.office }}.</p>
                            </div>
                        </div>  
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}