{% extends 'base.html' %}
{% include 'style.html' %}
{% block title %}DEV{% endblock %}

{% block content %}
{% include 'leftside.html' %}
	<!--Container Main start-->
    <div class="height-100 bg-light">
        <h2>Расписание докторов</h2>
        <div class="container-sm">
            <div class="row">
                <div class="d-flex justify-content-center">
                    <form method="post">
                        <select name="doctor" class="form-select" aria-label="Пример выбора по умолчанию">
                            {% for doctor in doctors %}
                                <option value="{{ doctor.id }}">{{ doctor.first_name }} {{ doctor.last_name }} {{ doctor.surname }}</option>
                            {% endfor %}
                          </select>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}