{% extends 'base.html' %}
{% include 'style.html' %}
{% block title %}DEV{% endblock %}

{% block content %}
{% include 'leftside.html' %}
    <div class="height-100 bg-light">
        <div class="d-flex justify-content-center">
            <div class="container-sm">
                <div class="row h-50">
                    <div class="col-sm">
                        <span>Год</span>
                        <select name='year' class="form-select mt-2" id="years" onchange="this.form.submit()">
                        </select>
                    </div>
                    <div class="col-sm">
                        <span>Месяц</span>
                        <select name='month' class="form-select mt-2" id="months">
                        </select>
                    </div>
                    <div class="col-sm">
                        <span>Число</span>
                        <select name='day' class="form-select mt-2" id="days">
                        </select>
                    </div>
                </div>
                <div class="row h-50">
                    <div class="col-sm">
                        <form action="/test" method="post" name="form0">
                            <div id="header">
                                <div class="input-group mb-3">
                                    <input name="address" type="text" id="suggest" class="form-control" placeholder="Введите адрес">
                                </div>
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-dark" id="button">Проверить</button>
                                </div>
                            </div>
                        </form>
                        <div id="msg_yandex">Ответ от сервера: {{ yandex['msg'] }}</div>
                    </div>
                </div>
                <div class="row h-100">
                    <div class="col-sm">
                        <form action="/test" method="post" name="form1">
                            <span>Тест ajax</span>
                            <select name='test_ajax' class="form-select mt-2" id="test_ajax">
                                <option value="Краснодар">Краснодар</option>
                                <option value="Москва">Москва</option>
                            </select>
                            <br>
                            <div class="d-grid gap-2">
                                <input type="submit" class="btn btn-dark" value="Отправить"/>
                            </div>
                        </form>
                        <div id="msg">Ответ от сервера: {{ ajax_answer['msg'] }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        $(document).ready(function () {
            $("#form0" ).submit(function( event ) {
            sendAjaxForm("form0", "msg_yandex");
            event.preventDefault();
            });
        });
        /* переопределить поведение кнопки "Отправить" */
        $(document).ready(function () {
            $("#form1" ).submit(function( event ) {
              sendAjaxForm("form1", "msg");
              event.preventDefault();
            });
        });
 
 
        /* отправка формы через ajax */
        function sendAjaxForm(form_ajax, msg) {
            var form = $("#" + form_ajax);
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function (response) {
                    var json = jQuery.parseJSON(response);
                    if (json.success == 'true') {
                        form.trigger('reset');
                    }
                    else
                    {
                        alert("Что-то пошло не так!");
                        console.log("Ошибка");
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
    

{% endblock %}

