{% extends 'base/base.html' %}

{% block content %}
<div class="container">

<form id="form" method="POST" class="d-flex" action="">
    {% if get_flashed_messages() %}
                        <div class="alert alert-warning" role="alert">
                            {% with messages = get_flashed_messages() %}
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}  
                            {% endwith %}
                        </div>
                    {% endif %}
    <div class="form-group">
    <h2 class="text-center">Имя</h2>

    <input name="sur" placeholder="Фамилия" type="text">
    <input name="first" placeholder="Имя" type="text">
    <input name="last" placeholder="Отчество" type="text">

    <h2 class="text-center">Краткая информация</h2>

    <input name="birthday" placeholder="День рождения" type="text">
    <input name="how_think" placeholder="Как узнал" type="text">

    <input name="address" placeholder="Адрес" type="text">
    <input name="phone" placeholder="Номер телефона" type="text">
    <input name="phone2" placeholder="Запасной номер телефона" type="text">

    <select name="role" id="role" placeholder="Тип пациента" type="text">
        <option value="default">Обычный</option>
        <option value="child">Ребёнок</option>
        <option value="pregnant">Беременная</option>
    </select>

</form>

<script>
    $('#role').on('change', function(){
        $('#form').append('<input name="comment" placeholder="Комментарий пациента(не обязательно)" type="text">');
        if ($('#role').val() == 'default' && $('#role').SelectedIndex){
            $('#form').append('<h2 class="text-center">Данные</h2>');
            $('#form').append('<input name="lr_pass_num" placeholder="Номер паспорта" type="text">');
            $('#form').append('<input name="lr_pass_serial" placeholder="Серия паспорта" type="text">');
            $('#form').append('<input name="lr_pass_date" placeholder="Дата получения паспорта" type="text">');
            $('#form').append('<input name="lr_pass_issued" placeholder="Место получения паспорта" type="text">');
            $('#form').append('<input name="comment" placeholder="Комментарий пациента(не обязательно)" type="text">');
        }
        else if ($('#role').val() == 'child'){
            $('#form').append('<h2 class="text-center">Данные о сопровождающем</h2>');
            $('#form').append('<input name="lr_surname" placeholder="Фамилия представителя" type="text">');
            $('#form').append('<input name="lr_f_name" placeholder="Имя представителя" type="text">');
            $('#form').append('<input name="lr_l_name" placeholder="Отчество представителя" type="text">');
            $('#form').append('<input name="lr_status" placeholder="Тип представителя" type="text">');
            $('#form').append('<input name="lr_pass_num" placeholder="Номер паспорта представителя" type="text">');
            $('#form').append('<input name="lr_pass_serial" placeholder="Серия паспорта представителя" type="text">');
            $('#form').append('<input name="lr_pass_date" placeholder="Дата получения паспорта представителя" type="text">');
            $('#form').append('<input name="lr_pass_issued" placeholder="Место получения паспорта представителя" type="text">');
            $('#form').append('<input name="comment" placeholder="Комментарий представителя(не обязательно)" type="text">');
        }
        else if ($('#role').val() == 'pregnant'){
            $('#form').append('<h2 class="text-center">Данные</h2>');
            $('#form').append('<input name="lr_pass_num" placeholder="Номер паспорта" type="text">');
            $('#form').append('<input name="lr_pass_serial" placeholder="Серия паспорта" type="text">');
            $('#form').append('<input name="lr_pass_date" placeholder="Дата получения паспорта" type="text">');
            $('#form').append('<input name="lr_pass_issued" placeholder="Место получения паспорта" type="text">');
            $('#form').append('<input name="comment" placeholder="Комментарий пациента(не обязательно)" type="text">');
            $('#form').append('<input name="num_fetus" placeholder="Кол-во плодов" type="text">');
            $('#form').append('<input name="estimated_birthday" placeholder="Примерное рождение" type="text">');
        }
        $('#form').append('<button type="submit" class="btn btn-outline-primary">Отправить</button>');
        $('#form').append('</div>');
        $('#form').append('</div>');
        
    });
</script>
{% endblock %}


