{% extends 'base/base.html' %}

{% block content %}
<div class="container">

    <form id="form" method="POST" action="">
        <div class="container" id='cont'>
            <select class="form-select" name="role" id="role">
                <option value="none" selected>Выберите тип пациента</option>
                <option value="default">Обычный</option>
                <option value="child">Ребёнок</option>
                <option value="pregnant">Беременная</option>
            </select>
            <br>
            <label for="fio" class="form-label"><h3>Первичные данные</h3></label>
            <div class="row" id="fio">
                <div class="col">
                    <label for="surname" class="form-label">Фамилия</label>
                    <input id="surname" type="text" class="form-control">
                </div>
                <div class="col">
                    <label for="name" class="form-label">Имя</label>
                    <input id="name" type="text" class="form-control">
                </div>
                <div class="col">
                    <label for="middlename" class="form-label">Отчество</label>
                    <input id="middlename" type="text" class="form-control">
                </div>
            </div>
            <br>
            <hr>
            <br>
            <label for="info" class="form-label"><h4>Краткая информация</h4></label>
            <div class="row" id="info">
                <div class="col">
                    <label for="birthday" class="form-label">День рождения</label>
                    <input id="birthday" type="text" class="form-control">
                </div>
                <div class="col">
                    <label for="how_think" class="form-label">Как узнал?</label>
                    <input id="how_think" type="text" class="form-control">
                </div>
                <div class="col">
                    <label for="address" class="form-label">Адрес</label>
                    <input id="address" type="text" class="form-control">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label for="phone" class="form-label">Номер телефона</label>
                    <input id="phone" type="text" class="form-control">
                </div>
                <div class="col">
                    <label for="phone2" class="form-label">Запасной номер телефона</label>
                    <input id="phone2" type="text" class="form-control">
                </div>
            </div>
            <br>
            <hr>
            <br>
            <!-- <label for="phone2" class="form-label">Комментарий</label>
            <textarea name="comment" class="form-control" type="text"></textarea> -->
        </div>
    </form>
</div>

<script>
    // function getKeyByValue(object, value) {
    //     return Object.keys(object).find(key => object[key] === value);
    // }
    if (document.getElementById('data_place')) {
        document.getElementById("data_place").remove();
    }
    $('#role').on('change', function() {
        row_id = "data"
        $("<div/>").attr({id: 'data_place'}).appendTo('#cont');
        $("<label><h3>Данные</h3><label/>").attr({class: 'form-label', for: row_id}).appendTo('#data_place');
        $("<div/>").attr({class: 'row', id: row_id}).appendTo('#data_place');
        if ($('#role').val() == 'default') {
            counter = 0
            row_counter = 1
            var data_list = Object.entries({
                'lr_pass_num': 'Номер паспорта',
                'lr_pass_serial': 'Серия паспорта',
                'lr_pass_date': 'Дата получения паспорта',
                'lr_pass_issued': 'Место получения паспорта'
            })
            for (var i = 0; i < data_list.length; i++) {
                console.log(i)
                if (counter == 2) {
                    row_id = 'data' + row_counter
                    $("<br>").appendTo('#data_place');
                    $("<div/>").attr({class: 'row', id: row_id}).appendTo('#data_place');
                    i -= 1
                    counter = 0
                    row_counter += 1
                }
                else {
                    $("<div/>").attr({class: 'col', id: row_id + '_col_' + data_list[i][0]}).appendTo('#' + row_id);
                    $("<label>" + data_list[i][1] +"<label/>").attr({class: 'form-label', for: data_list[i][0]}).appendTo('#' + row_id + '_col_' + data_list[i][0]);
                    // if (data_list[i][0].includes('date')) {
                    //     $("<input/>").attr({class: 'form-control', id: data_list[i][0], type: 'text'}).appendTo('#' + row_id + '_col_' + data_list[i][0]);
                    // }
                    // else {
                    //     $("<input/>").attr({class: 'form-control', id: data_list[i][0], type: 'text'}).appendTo('#' + row_id + '_col_' + data_list[i][0]);
                    // }
                    $("<input/>").attr({class: 'form-control', id: data_list[i][0], type: 'text'}).appendTo('#' + row_id + '_col_' + data_list[i][0]);
                    counter += 1
                }
            }
        }
            // for (var a = 0; a < Object.values(data_list).length; a++) {
            //     console.log("aa")
            //     $("<div/>").attr({class: 'col', id: 'data_col_' + a}).appendTo('#data');
            //     $("<label>" + data_list[a].value +"<label/>").attr({class: 'form-label', for: getKeyByValue(data_list, data_list[a].value)}).appendTo('#data_col_' + a);
            //     $("<input/>").attr({class: 'form-control', id: getKeyByValue(data_list, data_list[a].value), type: 'text'}).appendTo('#data_col_' + a);
            // }
            // $("<div/>").attr({class: 'col', id: 'data_col'}).appendTo('#data');
            // $("<label>как дела<label/>").attr({class: 'form-label', for: 'data2'}).appendTo('#data_col');
            // $("<input/>").attr({class: 'form-control', id: 'data2', type: 'text'}).appendTo('#data_col');
            // $("<label>как дела<label/>").attr({class: 'form-label', for: 'data2'}).appendTo('.data');
            // $("<input/>").attr({class: 'form-control', id: 'data2', type: 'text'}).appendTo('.data');
            // $('.data').append('<input name="lr_pass_num" placeholder="Номер паспорта" type="text">');
            // $('#form').append('<input name="lr_pass_serial" placeholder="Серия паспорта" type="text">');
            // $('#form').append('<input name="lr_pass_date" placeholder="Дата получения паспорта" type="text">');
            // $('#form').append('<input name="lr_pass_issued" placeholder="Место получения паспорта" type="text">');
            // $('#form').append('<input name="comment" placeholder="Комментарий пациента(не обязательно)" type="text">');
        // }
        // else if ($('#role').val() == 'child'){
        //     $('#form').append('<h2 class="text-center">Данные о сопровождающем</h2>');
        //     $('#form').append('<input name="lr_surname" placeholder="Фамилия представителя" type="text">');
        //     $('#form').append('<input name="lr_f_name" placeholder="Имя представителя" type="text">');
        //     $('#form').append('<input name="lr_l_name" placeholder="Отчество представителя" type="text">');
        //     $('#form').append('<input name="lr_status" placeholder="Тип представителя" type="text">');
        //     $('#form').append('<input name="lr_pass_num" placeholder="Номер паспорта представителя" type="text">');
        //     $('#form').append('<input name="lr_pass_serial" placeholder="Серия паспорта представителя" type="text">');
        //     $('#form').append('<input name="lr_pass_date" placeholder="Дата получения паспорта представителя" type="text">');
        //     $('#form').append('<input name="lr_pass_issued" placeholder="Место получения паспорта представителя" type="text">');
        //     $('#form').append('<input name="comment" placeholder="Комментарий представителя(не обязательно)" type="text">');
        // }
        // else if ($('#role').val() == 'pregnant'){
        //     $('#form').append('<h2 class="text-center">Данные</h2>');
        //     $('#form').append('<input name="lr_pass_num" placeholder="Номер паспорта" type="text">');
        //     $('#form').append('<input name="lr_pass_serial" placeholder="Серия паспорта" type="text">');
        //     $('#form').append('<input name="lr_pass_date" placeholder="Дата получения паспорта" type="text">');
        //     $('#form').append('<input name="lr_pass_issued" placeholder="Место получения паспорта" type="text">');
        //     $('#form').append('<input name="comment" placeholder="Комментарий пациента(не обязательно)" type="text">');
        // }
        // $('#form').append('<button type="submit" class="btn btn-outline-primary">Отправить</button>');
        // $('#form').append('</div>');
        // $('#form').append('</div>');
        
    });
</script>
{% endblock %}


